*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppiens",sans-serif;
}

html,body{
    background: darkviolet;
    display: grid;
    place-items: center;
}

.container{
    background: darkcyan;
    height: 400px;
    width: 100%;
    padding: 0.2em;
    margin: 5em 0;
}

#inputbox{
    margin: 1em;
    padding: 0.5rem;
    font-size: 1em;
    outline: none;
    border: none;
}

.genrate{
    padding: 0.5rem 2em;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.genrate:focus{
    color: white;
    background: darkviolet;
}

.qrcode{
    height: 60%;
    padding: 1rem;
    background: pink;
    background-repeat: no-repeat;
}